@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #222;
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.6rem;
}

header nav {
  display: flex;
  gap: 1.6rem;
}

.post-box {
  border: 2px solid transparent;
  margin-bottom: 3.5rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.post-box * {
  text-decoration: none;
  color: inherit;
}

.post-box:hover {
  border: 2px solid darkblue;
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

.post .texts h2 {
  margin: 0;
  font-size: 1.8rem;
}

.post p.info {
  margin-block: 6px;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post p.info a.author {
  color: #333;
}

.post p.summary {
  margin-block: 1rem;
  line-height: 1.4rem;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

form.login h1,
form.register h1 {
  text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 5px 7px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 7px 0;
  background-color: #555;
  border: 0;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.post-page .post-title {
  margin: 0;
  margin-bottom: 0.4rem;
}

.post-page .post-author {
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
}

.post-page .post-author span {
  color: #777;
}

.post-page .post-image {
  display: flex;
  margin-block: 1rem;
  max-height: 250px;
  overflow: hidden;
}

.post-page .post-image img {
  object-fit: cover;
  object-position: center center;
}

.post-page a {
  color: #333;
}

.post-page .post-date {
  font-size: 0.8rem;
  text-align: end;
}

.post-page .post-content {
  line-height: 1.8;
}
